@{
    ViewBag.Title = "Greet Up - Home";
}

<div class="jumbotron">
    <div class="jumboText">
        <h1 class="headColor">Greet-Up!</h1>
        <p class="lead">Find like-minded individuals and plot to take over the world or hang out.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Testimonials</h2>
        <p>
            For being designed by two students only 5 weeks into tech, it is suprisingly functional!
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Read More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Greet-Up Ideas</h2>
        <p>Gather your friends together for a coding party!  And then have no friends... :(</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About the authors</h2>
        <p>Dave and Valerie worked on this for 3 entire hours.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Find out more &raquo;</a></p>
    </div>
</div>